{% extends "trans_scraip/base.html" %}

{% block title %}KDDI交通費計算{% endblock title %}

{% block content %}

  <div class="ml-4 w-11/12 mx-auto">
    <div class="mt-5 border border-gray-300 shadow-lg pb-4">
      <div class="pl-3 py-3 bg-gray-800">
        <h3 class="text-white font-semibold text-xl">CSV一括出力</h3>
      </div>
      <div class="m-4 mt-6">
        <form action="{% url 'csvimport' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="file" class="dropify" data-default-file="ファイルを選択してください" name="csv">
          <button type="submit" class="bg-blue-500 text-white px-2 py-2" name="button">アップロード</button>
        </form>
      </div>
    </div>

{% comment %} <div class="flex">
  <div class="col-sm-12 col-md-12">
    <div class="card"> {% endcomment %}


      {% comment %} <div class="card-header">Target</div> {% endcomment %}


      {% comment %} <div class="card-body">
        <form action="{% url 'transdata' %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group row">
            <label for="model" class="col-sm-1 col-form-label">City</label>
            <div class="col-sm-3">
              <label for="startStation">出発駅</label>
              <input id="startStation" type="text" class="border border-gray-400 py-1 px-2" name="startStation" placeholder="出発駅" />
              <label for="endStation">到着駅</label>
              <input id="endStation" type="text" class="border border-gray-400 py-1 px-2" name="endStation" placeholder="到着駅" />
            </div>
            <button type="submit" class="mt-2 border bg-gray-800 text-white px-3 py-1" name='action' value="save">経路取得</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div> {% endcomment %}


{% endblock %}
