{% extends "trans_scraip/base.html" %}

{% block title %}KDDI交通費{% endblock title %}

{% block content %}

<div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="card">
      <div class="card-header">Target</div>
      <div class="card-body">
        <form action="{% url 'transdata' %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group row">
            <label for="model" class="col-sm-1 col-form-label">City</label>
            <div class="col-sm-3">
              <label for="startStation">出発駅</label>
              <input id="startStation" type="text" class="border border-gray-400 py-1 px-2" name="startStation" placeholder="出発駅" />
              <label for="endStation">到着駅</label>
              <input id="endStation" type="text" class="border border-gray-400 py-1 px-2" name="endStation" placeholder="到着駅" />
            </div>
            <button type="submit" class="mt-2 border bg-gray-800 text-white px-3 py-1" name='action' value="save">経路取得</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="card">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="card">
            <div class="mt-3">
              <div class="bg-gray-800 text-white font-semibold py-2 pl-3">
                <h2>最短ルート</h2>
              </div>
              <div class="mt-3">
                <p>====== {{ departure_station }} から {{destination_station }} =======</p>
                <p>所要時間：{{ low_required_time }}</p>
                <p>料金：{{ low_fare_summary }}</p>
                <p>{{ low_transfer_count }}</p>
              </div>
              <div class="mt-2">
                <h2>======乗り換え情報======</h2>
                <p>{{ low_stations }}</p>
                <p>{{ low_lines }}</p>
                <p>{{ low_fars }}</p>
              </div>
            </div>
            <div class="mt-8">
              <div class="bg-gray-800 text-white font-semibold py-2 pl-3">
                <h2>最安ルート</h2>
              </div>
              <div class="mt-2">
                <p>====== {{ departure_station }} から {{destination_station }} =======</p>
                <p>所要時間：{{ fast_required_time }}</p>
                <p>料金：{{ fast_fare_summary }}</p>
                <p>{{ fast_transfer_count }}</p>
              </div>
              <div class="mt-2">
                <h2>======乗り換え情報======</h2>
                <p>{{ fast_stations }}</p>
                <p>{{ fast_lines }}</p>
                <p>{{ fast_fars }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
